ng-csv-import, .ng-csv-import {
	display: inline-block;
    position: relative;
    padding: 2px;
    margin: 0;
    vertical-align: middle;
}
md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: inherit;
}
// &:not( .md-input-has-value ) input:not( :focus ) {
//     color: inherit;
// }
// .separator-input {
//     color: rgba(0,0,0,0.87) !important;
// }
// text-colorgb(45,50,62)
