<div class="ng-csv-import">
    <md-content class="md-padding" layout="row" layout-align="space-around center" layout-xs="column" layout-sm="column" >
        <div ng-show="headerVisible">
            <div class="label">Header</div>
            <md-switch class="ng-csv-import-header-switch" ng-model="header"></md-switch>
            <!-- <input type="checkbox" ng-model="header"> -->
        </div>

        <div ng-show="encodingVisible">
            <div class="label">Codage</div>
            <span>{{encoding}}</span>
            <md-tooltip md-direction="left">Codage des caracteres</md-tooltip>
        </div>
        <div ng-show="separatorVisible">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Separateur</label>
                <input class="separator-input" ng-model="separator" ng-change="changeSeparator">
            </md-input-container>
        </div>
        <div>
            <input class="btn cta gray" upload-button-label="{{uploadButtonLabel}}" type="file" accept="{{accept}}" />
            <md-button ng-click="onClick($event)" class="_md md-button {{mdButtonClass}}">
                <md-tooltip md-direction="left">Ajouter depuis un fichier CSV</md-tooltip>
                <md-icon md-svg-icon="{{mdSvgIcon}}"></md-icon>
                {{mdButtonTitle}}
            </md-button>
            <md-input-container style="margin:0;">
                <input type="text" class="_md md-input-readable md-input {{mdInputClass}}" ng-click="onClick($event)" ng-model="filename">
            </md-input-container>
        </div>
    </md-content>
</div>
