
<div class="content fullpage-datatable" layout="column" flex>
    <!-- <md-progress-linear ng-show="$ctrl.showSpinner" md-mode="indeterminate"></md-progress-linear> -->
    <div layout="row">
        <md-button  type="button"
                    class="md-raised md-warn md-hue-3"
                    ng-click="$ctrl.refreshTestsList()"
                    aria-label="Rafraichir la liste des tests">
            Rafaichir la liste des tests
        </md-button>
    </div>

    <table class="dataTable row-border hover" datatable="ng"
           dt-instance="$ctrl.dtInstance" dt-options="$ctrl.dtOptions">
        <thead>
            <tr>
                <th class="secondary-text">
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Horodatage</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Veille</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Date d'arrivée</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Date de départ</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Hôtels</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Pays</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Marché</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Statut</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- campaign.id"> -->
            <tr ng-repeat="campaign in $ctrl.campaignsData track by $index">
                <td>
                    <md-button class="md-icon-button md-accent"
                               aria-label="Voir"
                               ng-disabled="campaign.status == 'en cours'"
                               ng-click="$ctrl.onShowPrices(campaign)">
                        <md-icon md-font-icon="icon-eye">
                            <md-tooltip md-direction="left">
                                Voir le relevé
                            </md-tooltip>
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button md-warn"
                               ng-click="$ctrl.deleteCampaign($index)"
                               aria-label="Supprimer">
                        <md-icon md-font-icon="icon-delete">
                            <md-tooltip md-direction="left">
                                Supprimer
                            </md-tooltip>
                        </md-icon>
                    </md-button>
                </td>
                <td>{{campaign.timestamp| timeStampFormatter }}</td>
                <td>{{campaign.veille}}</td>
                <td>{{campaign.fromSlot | dateFormatter }}</td>
                <td>{{campaign.toSlot   | dateFormatter   }}</td>
                <td ng-bind-html="campaign.hotels | dimFormatter"></td>
                <td ng-bind-html="campaign.proxies | proxyDimFormatter"></td>
                <td ng-bind-html="campaign.markets | dimFormatter"></td>

                <td>

                    <div ng-show="campaign.status == 'en cours'">
                        <md-tooltip md-direction="left">
                            {{campaign.progress}}%
                        </md-tooltip>
                        <md-progress-linear
                            md-mode="determinate"
                            value="{{campaign.progress}}">
                        </md-progress-linear>
                    </div>
                    <span ng-show="campaign.status != 'en cours'">
                        {{campaign.status}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>


