<div id="apps-consult" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- HEADER -->
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-selected="selectedIndex" md-border-bottom="" md-dynamic-height>
                <!-- md-autoselect="" -->
                <md-tab label="Consulter" layout="layout-fill">
                    <!-- ng-disabled="disableConsult"> -->
                    <div layout="column">
                        <form name="basicForm" class="md-inline-form" novalidata>
                            <search-form campaign="newCampaign"
                                         is-consult="true"
                                         is-consult-run="isConsultRun"
                                         disablebuttons="disablebuttons"
                                         on-submit="onConsult()"></search-form>
                        </form>
                        <div flex>
                            <run-progressbar layout show="showProgressBar"></run-progressbar>
                        </div>
                    </div>
                    <div layout="column">
                        <md-progress-linear md-mode="indeterminate" ng-show="showProgress"></md-progress-linear>
                        <consult-table
                            on-remove-campaign-confirm="vm.onRemoveCampaignConfirm(value)"
                            campaigns-data="campaigns"
                            refresh-tests-list="vm.refreshTestsList()"
                            show-prices="vm.showPrices(value)"></consult-table>
                    </div>
                </md-tab>
                <md-tab label="Prices">
                    <md-content class="md-padding" layout="column">
                        <md-card>
                            <md-card-title>
                                <span class="md-headline">
                                    Dimensions de l'acquisition
                                </span>
                            </md-card-title>
                            <md-card-content layout="column" layout-align="space-between">
                                <table class="simple">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Veille</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">
                                                        Date d'arrivée
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">
                                                        Date de départ
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">
                                                        Hôtels
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">
                                                        Marchés
                                                    </span>
                                                </div>
                                            </th>

                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">
                                                        Pays
                                                    </span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr>
                                            <td>{{currentCampaign.veille}}</td>
                                            <td>{{currentCampaign.fromSlot | dateFormatter }}</td>
                                            <td>{{currentCampaign.toSlot   | dateFormatter}}</td>
                                            <td ng-bind-html="currentCampaign.hotels | dimFormatter"></td>
                                            <td ng-bind-html="currentCampaign.markets | dimFormatter"></td>
                                            <td ng-bind-html="currentCampaign.proxies | proxyDimFormatter"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div layout="row">
                                      <md-content layout="row center">
                                        <span class="md-title">
                                          Officiel globalement en premier : 
                                          {{ isOfficialFirstGloable ? 'Oui' : 'Non' }}
                                        </span>
                                      </md-content>

                                </div>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button  type="button"
                                                class="md-raised md-warn md-hue-3"
                                                ng-click="vm.exportCSV()"
                                                aria-label="Export CSV">
                                        Export  CSV
                                    </md-button>
                                </md-card-actions>
                            </md-card-content>
                        </md-card>

                        <div class="content fullpage-datatable" layout="column" flex>

                            <table class="dataTable row-border hover" datatable="ng"
                                   dt-instance="vm.dtInstance"
                                   dt-options="vm.dtOptions">
                                <thead>
                                    <tr>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">#</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Badges</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">
                                                    Date de départ
                                                </span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">
                                                    Date d'arrivée
                                                </span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Prix</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Hôtels</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Pays</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">
                                                    Marchés
                                                </span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">
                                                    Erreur
                                                </span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="price in currentCampaign.prices track by price.id">
                                        <td>{{$index + 1}}</td>
                                        <td>
                                            <div layout="column"
                                                 layout-align="space-between center">
                                                <span class="text-boxed official-not-first" ng-if="!vm.isOfficialPriceFirst(price.prices)">
                                                    Officiel pas en premier
                                                </span>
                                                <span ng-if="!vm.isOfficialPricePresent(price.prices)" class="text-boxed official-not-present">
                                                    Officiel absent
                                                </span>
                                                <span ng-if="!vm.isBestPriceFirst(price.prices)" class="text-boxed best-not-first">
                                                    Meilleur pas en premier
                                                </span>
                                            </div>
                                        </td>
                                        <td>{{currentCampaign.fromSlot | dateFormatter}}</td>
                                        <td>{{currentCampaign.toSlot   | dateFormatter}}</td>
                                        <td ng-bind-html="price.prices | pricesFormatter"></td>
                                        <td>{{price.hotel}}</td>
                                        <td>{{price.country}}</td>
                                        <td>{{price.market}}</td>
                                        <td>{{price.error}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
