.official-not-first {
    background-color: rgba(216, 23, 23, 0.1);
}
.best-not-first  {
    background-color: rgba(11, 73, 200, 0.1);
}
.official-not-present {
    background-color: rgba(213, 225, 18, 0.1);
}

.column-title {
    text-align: center;
}
