<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
        <md-button id="navigation-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('navigation')" hide-gt-sm aria-label="Toggle navigation" translate translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>

    </div>
    <div layout="row" layout-align="start center" flex>
        <span>Bienvenue !</span> 
    </div>
    <div layout="row" layout-align="start center">
        <md-progress-circular id="toolbar-progress" ng-disabled="!$root.loadingProgress" class="md-accent" md-diameter="32">
        </md-progress-circular>
            <md-button class="user-button" ng-click="$mdOpenMenu()" aria-label="User settings" translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                <div layout="row" layout-align="space-between center">
                    <div class="avatar-wrapper">
                        <img md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg">
                        <md-icon md-font-icon ng-class="vm.userStatus.icon" ng-style="{'color': vm.userStatus.color }" class="icon status s16">
                        </md-icon>
                    </div>
                    <span class="username" hide show-gt-sm>Astotel</span>
                    <md-icon md-font-icon="icon-chevron-down" class="icon s16" hide-xs></md-icon>
                </div>
            </md-button>

    </div>
</div>
