.progressLineardemoBasicUsage body {
    padding: 20px; }
.progressLineardemoBasicUsage h4 {
    margin: 10px 0; }
.progressLineardemoBasicUsage md-progress-linear {
    padding-top: 10px;
    margin-bottom: 20px; }
.progressLineardemoBasicUsage #loaders > md-switch {
  margin: 0;
  margin-left: 10px;
  margin-top: -10px; }
.progressLineardemoBasicUsage #loaders > h5 {
  margin-top: 0; }
.progressLineardemoBasicUsage #loaders > p {
  margin-right: 20px;
  margin-bottom: 24px; }
.progressLineardemoBasicUsage p.small {
  font-size: 0.8em;
  margin-top: -18px; }
.progressLineardemoBasicUsage hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1); }
.progressLineardemoBasicUsage p.small > code {
  font-size: 0.8em; }
.progressLineardemoBasicUsage .visible {
  opacity: 0;
  border: 2px solid white !important; }
.progressLineardemoBasicUsage .container {
  display: block;
  position: relative;
  width: 100%;
  border: 2px solid #aad1f9;
  transition: opacity  0.1s linear;
  border-top: 0px; }
.progressLineardemoBasicUsage .bottom-block {
  display: block;
  position: relative;
  background-color: rgba(255, 235, 169, 0.25);
  height: 85px;
  width: 100%; }
.progressLineardemoBasicUsage .bottom-block > span {
  display: inline-block;
  margin-top: 10px;
  padding: 25px;
  font-size: 0.9em; }


