<md-dialog class="event-form-dialog" aria-label="dialogTitle"
           id="veillefDialog">
    <form name="eventForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{dialogTitle}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label translate="CALENDAR.TITLE">Nom de la veille</label>
                <input name="title" ng-model="vm.veille.name" required md-autofocus>
                <div ng-messages="eventForm.title.$error" ng-show="eventForm.title.$touched" role="alert">
                    <div ng-message="required">
                        <span translate="CALENDAR.ERRORS.TITLE_REQUIRED">Le nom de la veille est requis</span>
                    </div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="start">
                <md-switch ng-model="vm.veille.active"
                           aria-label="Activer la veille">
                    {{ vm.veille.active ? "Veille Active" : "Veille désactivée" }}
                </md-switch>
            </div>
            <div layout="column">
                <md-card>
                    <div class="simple-table-container md-whiteframe-4dp">
                        <div class="table-title">
                            Notifications
                        </div>
                        <table class="dataTable row-border hover" datatable="ng"
                               dt-instance="vm.dtInstance" dt-options="dtOptions">
                            <thead>
                                <tr class="table-header">
                                    <th><small>Destinataires</small></th>
                                    <th><small>Active</small></th>
                                    <th><small>Meilleur pas en premier</small></th>
                                    <th><small>Officiel absent</small></th>
                                    <th><small>Officiel pas en premier</small></th>
                                    <th><small>Actions</small></th>
                                </tr>
                            </thead>
                            <!-- {{ notif.dest | notifDestFormatter }} -->
                            <tbody class="text-center">
                                <tr ng-repeat="notif in vm.veille.notifs">
                                    <td class="md-caption" style="text-align: left;"
                                        ng-bind-html="notif.dest | notifDestFormatter">
                                    </td>
                                    <td class="md-caption">
                                        {{ notif.active ? "Oui" : "Non" }}
                                    </td>
                                    <td class="md-caption">
                                        {{notif.bestPriceNotFirst ? "Oui" : "Non" }}
                                    </td>
                                    <td class="md-caption">
                                        {{notif.officialPriceMissing ? "Oui" : "Non"}}
                                    </td>
                                    <td class="md-caption">
                                        {{notif.officialPriceNotFirst ? "Oui" : "Non"}}
                                    </td>
                                    <td layout="row" layout-align="start center">
                                        <md-menu>
                                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                       aria-label="more">
                                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                            </md-button>

                                            <md-menu-content width="3">
                                                <md-menu-item>
                                                    <md-button ng-click="vm.addNotif(e, 'edit', notif, eventForm)" aria-label="Editer la notification">
                                                        Editer
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="vm.deleteNotifConfirm(notif, e, eventForm)" aria-label="Supprimer la notification">
                                                        Supprimer
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <md-button class="md-raised"
                                   arial-label="Add notification"
                                   ng-click="vm.addNotif(e, 'add', vm.veille.notif, eventForm)">
                            Ajouter une notification
                        </md-button>
                    </div>
                </md-card>
            </div>
            <md-card>
                <div layout="row" flex layout-align="space-between center"
                     layout-margin>
                    Récurrence de la veille
                    <md-switch class="md-secondary"
                               ng-model="vm.veille.permanent" aria-label="Veille Permanente"
                               translate
                               translate-attr-aria-label="CALENDAR.ALL_DAY">
                    </md-switch>
                    <md-input-container flex>
                        <label>Interval entre deux acquisitions</label>
                        <md-select ng-model="vm.veille.interval">
                            <md-option ng-value="nbr"
                                       ng-repeat="nbr in nbrOfHours">
                                {{nbr}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="column" flex ng-show="!vm.veille.permanent" layout-margin>
                    <div layout="row" flex layout-align="space-between center">
                        <label>Début de la Veille</label>
                        <md-datepicker ng-model="vm.veille.startDate"
                                       md-placeholder=""  md-open-on-focus>
                        </md-datepicker>
                    </div>
                    <div layout="row" flex layout-align="space-between center">
                        <label>Fin de la Veille</label>
                        <md-datepicker ng-model="vm.veille.endDate"  md-open-on-focus md-placeholder=""></md-datepicker>
                    </div>
                </div>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        Slots:
                        <md-radio-group ng-model="vm.veille.slots_type"
                                        ng-change="vm.changeSlotsType()">
                            <md-radio-button value="absolus"
                                             class="md-primary">
                                Conservation des dates de séjour
                            </md-radio-button>
                            <md-radio-button value="relatifs">
                                Glissement de la période de séjour
                            </md-radio-button>
                        </md-radio-group>
                    </md-card-title-text>
                </md-card-title>
                <div layout="column" flex layout-margin ng-show="vm.veille.slots_type == 'relatifs'">
                    <div layout="row" flex layout-align="space-between center">
                        <label flex translate="CALENDAR.REPEAT">Slot de J + </label>
                        <md-input-container flex>
                            <md-select ng-model="vm.veille.fromSlotNbrOfTU">
                                <md-option ng-value="nbr"
                                           ng-repeat="nbr in nbrOfTU">
                                    {{nbr}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Unités de temps</label>
                            <md-select ng-model="vm.veille.fromSlotTimeUnit">
                                <md-option ng-value="unit"
                                           ng-repeat="unit in timeUnits">
                                    {{unit}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" flex layout-align="space-between center">
                        <label flex>A J + {{vm.veille.fromSlotNbrOfTU}} {{vm.veille.fromSlotTimeUnit}} + </label>
                        <md-input-container flex>
                            <md-select ng-model="vm.veille.toSlotNbrOfTU">
                                <md-option ng-value="nbr"
                                           ng-repeat="nbr in nbrOfTU">
                                    {{nbr}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Unités de temps</label>
                            <md-select ng-model="vm.veille.toSlotTimeUnit">
                                <md-option ng-value="unit"
                                           ng-repeat="unit in timeUnits">
                                    {{unit}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>

                <!-- ng-show="vm.veille.slots_type == 'absolus'"> -->
                <div layout="column" layout-margin>
                    <form name="basicForm" class="md-inline-form" novalidata>
                        <search-form campaign="vm.veille"
                                     is-consult="false"
                                     is-notif="false"
                                     is-relatifs="isRelatifs"
                                     is-consult-run="vm.dialogData.isConsultRun"
                                     disablebuttons="vm.dialogData.disablebuttons">
                        </search-form>
                    </form>
                </div>
            </md-card>
            <div layout="row" flex>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <md-button ng-click="vm.saveVeille()"
                       class="save-button md-accent md-raised" aria-label="SAVE"
                       ng-disabled="eventForm.$invalid || eventForm.$pristine"
                       translate="VEILLE.SAVE"
                       translate-attr-aria-label="VEILLE.SAVE">
                SAUVER
            </md-button>
            <md-button ng-click="vm.closeDialog()"
                       class="cancel-button md-raised" aria-label="ANNULER"
                       translate="VEILLE.CANCEL"
                       translate-attr-aria-label="VEILLE.CANCEL">
                ANNULER
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>
