<md-dialog class="event-form-dialog" aria-label="Ajouter une notification">
    <form name="eventForm" class="md-inline-form" novalidate>
        <md-dialog-content ms-scroll>
            <form name="basicForm" class="md-inline-form" novalidat>
                <md-content class="md-padding" layout="column">
                    <div class="form-wrapper md-whiteframe-10dp" flex="60">
                        <div layout="row">
                            <md-checkbox class="ng-block" flex
                                         ng-model="vm.notif.bestPriceNotFirst"
                                         aria-label="Meilleur prix pas en premier">
                                Meilleur prix pas en premier</md-checkbox>
                            <md-checkbox flex ng-model="vm.notif.officialPriceMissing"
                                         aria-label="Prix officiel absent">
                                Prix officiel absent</md-checkbox>
                            <md-checkbox flex ng-model="vm.notif.officialPriceNotFirst"
                                         aria-label="Prix officiel pas en premier">
                                Prix officiel pas en premier
                            </md-checkbox>
                        </div>
                        <div layout="row" layout-align="start">
                            <md-switch ng-model="vm.notif.active"
                                       aria-label="Activer la notification">
                                {{ vm.notif.active ? "Désactiver" : "Activer" }}
                            </md-switch>
                        </div>
                        <div layout="row" layout-align="start">
                            <md-input-container flex class="md-block">
                                <label>Destinataires</label>
                                <textarea ng-model="vm.dest"
                                          md-maxlength="150" rows="3" md-autofocus
                                          placeholder="Exemple: contact@astotel.com">
                                </textarea>
                                <div class="hint">Un destinataire par ligne s.v.p.</div>
                            </md-input-container>
                        </div>
                    </div>
                </md-content>
            </form>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <md-button ng-click="vm.saveNotif()"
                       class="save-button md-accent md-raised" aria-label="SAVE"
                       ng-disabled="eventForm.$invalid || eventForm.$pristine"
                       translate="NOTIF.SAVE"
                       translate-attr-aria-label="NOTIF.SAVE">
                SAUVER
            </md-button>

            <md-button ng-click="vm.closeDialog()"
                       class="cancel-button md-raised" aria-label="ANNULER"
                       translate="NOTIF.CANCEL"
                       translate-attr-aria-label="NOTIF.CANCEL">
                ANNULER
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>
