<md-content class="md-padding" layout="column" id="veille">

    <div>
        <md-button class="md-raised md-primary"
                   ng-click="vm.addVeille(e, 'add', vm.veille)">
            Ajouter une veille
        </md-button>
    </div>
    <div class="content fullpage-datatable" layout="column" flex>
        <table class="dataTable row-border hover" datatable="ng"
               dt-instance="vm.dtInstance"
               dt-options="vm.dtOptions">
            <thead>
                <tr>
                    <th class="secondary-text"></th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Nom</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Status</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Début</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Fin</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Date d'arrivée</span>
                        </div>
                    </th>
                    <th class="secondary-text">
                        <div class="table-header">
                            <span class="column-title">Date de départ</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr ng-repeat="veille in vm.veilles">
                    <td>
                        <md-button class="md-icon-button md-accent"
                                   aria-label="Voir"
                                   ng-click="vm.addVeille(e, 'edit', veille)">
                            <md-icon md-font-icon="icon-eye">
                                <md-tooltip md-direction="left">
                                    Voir
                                </md-tooltip>
                            </md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-warn"
                                   ng-click="vm.removeVeilleConfirm(veille.id, e)"
                                   aria-label="Supprimer">
                            <md-icon md-font-icon="icon-delete">
                                <md-tooltip md-direction="left">
                                    Supprimer
                                </md-tooltip>
                            </md-icon>
                        </md-button>
                    </td>
                    <td>{{veille.name}}</td>
                    <td>{{veille.active ? 'Active' : 'Inactive' }}</td>
                    <td ng-if="!veille.permanent">
                        {{veille.startDate | dateFormatter}}
                    </td>
                    <td ng-if="!veille.permanent">
                        {{veille.endDate   | dateFormatter}}
                    </td>
                    <td ng-if="veille.permanent">
                        Permanente
                    </td>
                    <td ng-if="veille.permanent">
                      Permanente
                    </td>
                    <td ng-if="veille.slots_type == 'absolus'">
											{{veille.fromSlot  | dateFormatter}}
										</td>
                    <td ng-if="veille.slots_type == 'absolus'">
											{{veille.toSlot    | dateFormatter}}
										</td>
                    <td ng-if="veille.slots_type == 'relatifs'">
											J + {{vm.formatTimeUnit(veille.fromSlotNbrOfTU,
											veille.fromSlotTimeUnit)}}
										</td>
                    <td ng-if="veille.slots_type == 'relatifs'">
											J + {{vm.formatTimeUnit(veille.fromSlotNbrOfTU,
											veille.fromSlotTimeUnit)}} +
											{{vm.formatTimeUnit(veille.toSlotNbrOfTU, veille.toSlotTimeUnit)}}
										</td>
                </tr>
            </tbody>
        </table>
    </div>

</md-content>
