<div class="page-layout carded fullwidth" layout="row">
	<!-- TOP BACKGROUND -->
	<div class="top-bg md-accent-bg"></div>
	<!-- / TOP BACKGROUND -->

	<!-- CENTER -->
	<div class="center" layout="column" flex>

		<!-- CONTENT HEADER -->
		<div class="header">
			<span class="h2 white-fg">Informations administratives de l'application</span>
		</div>
		<!-- / CONTENT HEADER -->

		<!-- CONTENT CARD -->
		<div class="content-card md-padding" layout="column" flex>
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Contact</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				<p>Gregory Faruch</p>
				<p><a href="mailto: contact@blset.com">greg.faruch@gmail.com</a></p>
				<p>
					Taux journalier : 350 € (minimum une journée)
				</p>
			</md-card-content>
			<!-- CONTENT TOOLBAR -->
			<!-- / CONTENT TOOLBAR -->
			<!-- CONTENT -->
			<!-- / CONTENT -->
		</div>
		<!-- / CONTENT CARD -->

	</div>
	<!-- / CENTER -->

</div>
<!-- <div id="layout-content-only" class="template-layout" layout="column" flex>
		 <md-content id="content" class="animate-slide-up md-hue-2" ui-view="content" flex></md-content>
	 -->
