<div id="apps-proxies" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- HEADER -->
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">
            <form name="proxiesForm" class="md-inline-form" novalidata layout="column">
                <!-- <md-content class="md-padding" layout="row">
                     <div class="form-wrapper md-whiteframe-10dp" flex>
                     <md-input-container flex class="md-block">
                     <label>Proxies</label>
                     <textarea ng-model="data.notif.dest"
                     placeholder="IP:PORT:PAYS"
                     md-maxlength="150" rows="3"
                     md-select-on-focus></textarea>
                     </md-input-container>
                     </div>
                     </md-content> -->
                <md-content class="md-padding" layout="row"
                            layout-align="space-around center">
                    <div class="form-wrapper md-whiteframe-10dp" flex>
                        <md-card>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Import Proxies</span>
                                    <span class="md-subhead">
                                        Le fichier csv doit contenir le header
                                        (utilisez le séparateur souhaité):
                                        "IP:PORT:PAYS:CODE PAYS:VILLE"</span>
                                    <span class="md-subhead">
                                        La liste importée remplacera l'ancienne
                                    </span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content layout="column">
                                <md-content layout="row"
                                            layout-align="space-around start">
                                    <table class="row-border hover">
                                        <thead class="table-header">
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Code pays</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Pays</span>
                                                </div>
                                            </th>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr><td>br</td><td>Brazil</td></tr>
                                            <tr><td>ca</td><td>Canada</td></tr>
                                            <tr><td>cn</td><td>China</td></tr>
                                            <tr><td>fr</td><td>France</td></tr>
                                        </tbody>
                                    </table>
                                    <table class="row-border hover">
                                        <thead class="table-header">
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Code pays</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Pays</span>
                                                </div>
                                            </th>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr><td>de</td><td>Germany</td></tr>
                                            <tr><td>in</td><td>India</td></tr>
                                            <tr><td>il</td><td>Israel</td></tr>
                                            <tr><td>it</td><td>Italy</td></tr>
                                        </tbody>
                                    </table>
                                    <table class="row-border hover">
                                        <thead class="table-header">
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Code pays</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Pays</span>
                                                </div>
                                            </th>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr><td>jp</td><td>Japan</td></tr>
                                            <tr><td>ru</td><td>Russia</td></tr>
                                            <tr><td>kr</td><td>South Korea</td></tr>
                                            <tr><td>es</td><td>Spain</td></tr>
                                        </tbody>
                                    </table>
                                    <table class="row-border hover">
                                        <thead class="table-header">
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Code pays</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Pays</span>
                                                </div>
                                            </th>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr><td>gb</td><td>United Kingdom</td></tr>
                                            <tr><td>us</td><td>United States</td></tr>
                                        </tbody>
                                    </table>
                                </md-content>
                                <md-content>
                                    <ng-csv-import content="csv.content"
                                                   material
                                                   md-button-class="md-icon-button md-raised md-accent"
                                                   header="csv.header"
                                                   md-svg-icon="assets/angular-material-assets/img/icons/my_upload.svg"
                                                   separator="csv.separator"
                                                   header-visible="csv.headerVisible"
                                                   separator-visible="csv.separatorVisible"
                                                   encoding-visible="csv.encodingVisible"
                                                   encoding="csv.encoding"
                                                   result="csv.result"
                                                   accept="csv.accept">

                                    </ng-csv-import>
                                </md-content>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button type="submit"
                                           class="md-raised"
                                           ng-click="vm.update()"
                                           aria-label="Mettre a jour">
                                    Mettre a jour
                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
                <md-content class="md-padding" layout="column">
                    <div layout="row">
                        <md-button class="md-raised md-primary"
                                   ng-click="vm.addProxy(e, 'add', $ctrl.proxy)">
                            Ajouter un proxy
                        </md-button>
                    </div>
                    <div class="content fullpage-datatable" layout="column" flex>
                        <md-progress-circular ng-disabled="!vm.activateProgress" class="md-accent" md-diameter="40"></md-progress-circular>
                        <table class="dataTable row-border hover" datatable="ng"
                               dt-instance="vm.dtInstance"
                               dt-options="vm.dtOptions"
                               dt-column-defs="dtColumnDefs">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">#</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">IP ou URL</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">PORT</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">PAYS</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">CODE PAYS</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">VILLE</span>
                                        </div>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr ng-repeat="proxy in proxies track by $index">
                                    <td>
                                        <md-button class="md-icon-button md-accent"
                                                   aria-label="Editer"
                                                   ng-click="vm.addProxy(e, 'edit', proxy)">
                                            <md-icon md-font-icon="icon-eye">
                                                <md-tooltip md-direction="left">
                                                    Editer
                                                </md-tooltip>
                                            </md-icon>
                                        </md-button>
                                    </td>
                                    <td>{{$index + 1}}</td>
                                    <td>{{ proxy.ip }}</td>
                                    <td>{{ proxy.port }}</td>
                                    <td>{{ proxy.country_name }}</td>
                                    <td>{{ proxy.country_code }}</td>
                                    <td>{{ proxy.location }}</td>
                                    <td>
                                        <md-button class="md-icon-button md-warn"
                                                   ng-click="vm.removeProxyConfirm(proxy.id, e)"
                                                   aria-label="Supprimer">
                                            <md-icon md-font-icon="icon-delete">
                                                <md-tooltip md-direction="left">
                                                    Supprimer
                                                </md-tooltip>
                                            </md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-content>
            </form>
        </div>
    </div>
</div>
