.ng-csv-import {
    // display: inline-block;
    width: 100%;
}
// div.ng-csv-import>div>div.label {
//     display: inline-block;
//     width: 30%;
//     text-align: left;
//     color: white;
//     font-family: 'Verdana';
//     font-size: 14px;
// }

// div.ng-csv-import > div {
//   margin: 15px 0px;
// }

// div.ng-csv-import > div > span {
//   color: white;
// }

// div.ng-csv-import > div> span > input[type="text"] {
//   font-size: 18px;
//   color: #d6492f;
//   font-weight: bold;
//   border-radius: none;
//   outline: none;
// }

// div.ng-csv-import>div>div>input[type="file"] {
//   color: transparent;
//   padding: 0;
// }

// div.ng-csv-import>div>div>input[type="file"]::-webkit-file-upload-button {
//   visibility: hidden;
// }

// div.ng-csv-import>div>div>input[type="file"]::before {
//   content: attr(upload-button-label);
//   display: inline-block;
//   background-image: linear-gradient(to top, #f9f9f9 0px, #f9f9f9 50%, #e3e3e3 50%, #e3e3e3 100% );
//   color: #444;
//   border: 1px solid #999;
//   border-radius: 3px;
//   padding: 5px 8px;
//   outline: none;
//   white-space: nowrap;
//   -webkit-user-select: none;
//   cursor: pointer;
//   text-shadow: 1px 1px #fff;
//   font-weight: 700;
//   font-size: 14px;
// }
// div.ng-csv-import>div>div>input[type="file"]:hover::before {
//   border-color: black;
// }
// div.ng-csv-import>div>div>input[type="file"]:active::before {
//   background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
// }
