<md-dialog class="event-form-dialog" aria-label="dialogTitle"
           id="proxyDialog">
    <form name="eventForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row"
                 layout-align="space-between center">
                <span class="title">{{dialogTitle}}</span>
                <md-button class="md-icon-button"
                           ng-click="vm.closeDialog()"
                           aria-label="Close dialog" translate
                           translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label translate="CALENDAR.TITLE">IP ou URL</label>
                    <input name="title" ng-model="vm.proxy.ip" required md-autofocus>
                    <div ng-messages="eventForm.title.$error"
                         ng-show="eventForm.title.$touched" role="alert">
                        <div ng-message="required">
                            <span translate="CALENDAR.ERRORS.TITLE_REQUIRED">
                                Vous devez indiquer une URL ou une IP
                            </span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label translate="CALENDAR.TITLE">PORT</label>
                    <input name="title" ng-model="vm.proxy.port" required>
                    <div ng-messages="eventForm.title.$error"
                         ng-show="eventForm.title.$touched" role="alert">
                        <div ng-message="required">
                            <span translate="CALENDAR.ERRORS.TITLE_REQUIRED">
                                Vous devez indiquer un Port
                            </span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <md-select placeholder="Pays"
                               ng-model="vm.proxy.country_name"
                               class="md-no-underline"
                               md-no-asterisk="false"
                               required>
                        <md-option ng-value="country.country_name"
                                   ng-repeat="country in countries">
                            {{country.country_name}}</md-option>
                    </md-select>
                    <div ng-messages="eventForm.title.$error"
                         ng-show="eventForm.title.$touched" role="alert">
                        <div ng-message="required">
                            <span translate="CALENDAR.ERRORS.TITLE_REQUIRED">
                                Vous devez indiquer un Pays
                            </span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label translate="CALENDAR.TITLE">Ville (optionnel)</label>
                    <input name="title" ng-model="vm.proxy.location">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <md-button ng-click="vm.saveProxy()"
                       class="save-button md-accent md-raised" aria-label="SAVE"
                       ng-disabled="eventForm.$invalid || eventForm.$pristine"
                       translate="VEILLE.SAVE"
                       translate-attr-aria-label="VEILLE.SAVE">
                SAUVER
            </md-button>
            <md-button ng-click="vm.closeDialog()"
                       class="cancel-button md-raised" aria-label="ANNULER"
                       translate="VEILLE.CANCEL"
                       translate-attr-aria-label="VEILLE.CANCEL">
                ANNULER
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
