<md-dialog class="event-form-dialog" aria-label="New Message">
    <form name="eventForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Ajouter une notif</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <form name="basicForm" class="md-inline-form" novalidat>
                <search-form campaign="vm.campaign"
                             is-consult="false"
                             is-notif="true"
                             is-consult-run="vm.isConsultRun"
                             disablebuttons="vm.disablebuttons"
                             on-submit="vm.onCreate()"></search-form>
                <md-content class="md-padding" layout="column">
                    <div class="form-wrapper md-whiteframe-10dp" flex="60">

                        <div layout="row">
                            <md-checkbox class="ng-block" flex
                                         ng-model="vm.notif.bestPriceNotFirst"
                                         aria-label="Meilleur prix pas en premier">
                                Meilleur prix pas en premier</md-checkbox>
                            <md-checkbox flex ng-model="vm.notif.officialPriceMissing"
                                         aria-label="Prix officiel absent">
                                Prix officiel absent</md-checkbox>
                            <md-checkbox flex ng-model="vm.notif.officialPriceNotFirst"
                                         aria-label="Prix officiel pas en premier">
                                Prix officiel pas en premier
                            </md-checkbox>
                        </div>
                        <div layout="row" layout-align="start">
                            <md-input-container class="md-block" flex="30">
                                <label>Nom de la notification</label>
                                <input ng-model="vm.notif.name">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="start">
                            <md-input-container flex class="md-block">
                                <label>Destinataires</label>
                                <textarea ng-model="vm.notif.dest"
                                          md-maxlength="150" rows="3"
                                          md-select-on-focus></textarea>
                                <div class="hint">Un destinataire par ligne</div>
                            </md-input-container>
                        </div>
                    </div>
                </md-content>
            </form>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <md-button ng-click="vm.saveNotif()"
                       class="save-button md-accent md-raised" aria-label="SAVE"
                       ng-disabled="eventForm.$invalid || eventForm.$pristine"
                       translate="NOTIF.SAVE"
                       translate-attr-aria-label="NOTIF.SAVE">
                SAUVER
            </md-button>

            <md-button ng-click="vm.closeDialog()"
                       class="cancel-button md-raised" aria-label="ANNULER"
                       translate="NOTIF.CANCEL"
                       translate-attr-aria-label="NOTIF.CANCEL">
                ANNULER
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>
