<md-content class="md-padding" layout="column">
    <!-- BASIC FORM -->
    <div class="form-wrapper md-whiteframe-1dp" flex="60">
        <form name="basicForm" class="md-inline-form" novalidate>
            <div layout="column" layout-gt-sm="row" ng-show="!$ctrl.isRelatifs">

                <div flex>
                    <label>Date d'arrivée</label>
                </div>
                <div flex>
                    <md-datepicker ng-model="$ctrl.campaign.fromSlot"
                                   id="fromSlot"
                                   md-placeholder="Debut du Slot"
                                   md-open-on-focus></md-datepicker>
                </div>

                <div flex>
                    <label>Date de départ</label>
                </div>
                <div flex>
                    <md-datepicker ng-model="$ctrl.campaign.toSlot"
                                   md-placeholder="Fin du Slot"
                                   id="toSlot"
                                   md-open-on-focus></md-datepicker>
                </div>
            </div>
            <div layout="column" layout-gt-xs="row">

                <md-input-container flex>
                    <label>Marchés</label>
                    <md-select
                        ng-model-options="{trackBy: '$value.id'}"
                        ng-model="selectedMarkets" multiple
                        ng-change="updateMarketDim(selectedMarkets)">
                        <md-option ng-value="market"
                                   ng-repeat="market in markets">
                            {{market.name}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Pays</label>
                    <md-select
                        ng-model-options="{trackBy: '$value.country_code'}"
                        ng-model="selectedProxies" multiple
                        ng-change="updateProxieDim(selectedProxies)">
                        <md-option ng-value="proxy"
                                   ng-repeat="proxy in proxies">
                            {{proxy.country_name}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Hotel</label>
                    <md-select
                        ng-model-options="{trackBy: '$value.id'}"
                        ng-model="selectedHotels" multiple
                        ng-change="updateHotelDim(selectedHotels)">
                        <md-option ng-value="hotel"
                                   ng-repeat="hotel in hotels">
                            {{hotel.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div>
                <div layout="column" layout-gt-xs="row" ng-if="$ctrl.showButtons()">
                    <!-- layout-align="space-around center"> -->
                    <md-button  type="submit" class="md-raised"
                                aria-label="veille"
                                ng-click="$ctrl.onCreateVeille()"
                                ng-disabled="basicForm.$invalid || basicForm.$pristine">
                        Creer une veille
                    </md-button>
                    <md-button type="submit" class="md-raised md-accent"
                               aria-label="vm.onSubmitext"
                               id="main-action-btn"
                               ng-click="$ctrl.onConsult()">
                        <!-- ng-show="!$ctrl.isConsultRun" id="main-action-btn" -->
                        Lancer un test
                    </md-button>
                    <!-- <md-button type="submit" class="md-raised md-primary"
                         aria-label="Annuler la consultation"
                         ng-disabled="$ctrl.disableCancel"
                         ng-show="$ctrl.isConsultRun" id="cancel-btn"
                         ng-click="$ctrl.onCancel()">
                         Annuler
                         </md-button> -->
                </div>
            </div>
        </form>
    </div>
</md-content>
